.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
.cursor {
  cursor: pointer;
}

/* .example-card {
  max-width: 400px;
} */

mat-grid-tile {
  /* background: lightblue; */
}
.blogs {
  width: 80%;
  margin: 0px auto;
}
/* .mat_card {
  min-width: 100%;
  min-height: 100%;
  border: 1px solid lightgrey;
} */
.content {
  padding: 16px;
}
.card_size {
  min-height: 300px;
  min-width: 300px;
}
