.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
.cursor {
  cursor: pointer;
}

.blogs {
  width: 80%;
  margin: 0px auto;
}

.content {
  padding: 16px;
}
.card_size {
  min-height: 300px;
  min-width: 300px;
}
