<div class='text-right'>
  <span style='cursor: pointer' mat-dialog-close class='material-icons'>close</span>
</div>
<div class='text-center'>
  <form [formGroup]='teamForm' (ngSubmit)='saveTeam()' class='h-100'>
    <mat-card class='h-100'>
      <h3>{{data.openAs}} Team</h3>

      <div>
        <mat-form-field appearance='fill' class='w-100'>
          <mat-label>Team Name</mat-label>
          <input formControlName='name' matInput>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance='fill' class='mb-3 mr-3'>
          <mat-label>Members</mat-label>
          <mat-select formControlName='users' multiple>
            <mat-option *ngFor='let one of filteredUsers' [value]='one'>{{one.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <button (click)='updateTeam()' type='button' mat-raised-button color='primary'>Add</button>
      </div>

      <div class='my-3'>
        <div class='text-center mb-3'>
          <strong>Team Members</strong>
        </div>
        <mat-list>
          <mat-list-item *ngFor='let one of selectedUsers'>{{one.name}} : {{one.email}} <span (click)='removeUser(one.id)' style='cursor: pointer'
                                                                                              class='material-icons ml-3 text-danger'>delete</span>
          </mat-list-item>
        </mat-list>
      </div>

      <div class='my-3'>
        <button mat-raised-button [disabled]='teamForm.invalid' type='submit'
                [ngClass]="teamForm.invalid ? 'bg-light' : 'text-white bg-success'">
          <span>{{data.openAs}}</span>
        </button>

        <button class='ml-3' (click)='clearForm()' mat-raised-button type='button'>
          <span>Clear</span>
        </button>
      </div>

    </mat-card>
  </form>
</div>
