<div class="text-right">
  <span style="cursor: pointer" mat-dialog-close class="material-icons">close</span>
</div>
<div class="text-center">
  <form [formGroup]="teamForm" (ngSubmit)="saveTeam()" class="h-100">
    <mat-card class="h-100">
      <h3>{{data.openAs}} Team</h3>

      <div>
        <mat-form-field appearance="fill" class="mr-3">
          <mat-label>Team Name</mat-label>
          <input formControlName="name" matInput>
        </mat-form-field>

        <mat-form-field appearance="fill" class="mb-3">
          <mat-label>Members</mat-label>
          <mat-select formControlName="members" multiple>
            <mat-option *ngFor="let one of userList" [value]="one.id">{{one.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="my-3">
        <button mat-raised-button [disabled]="teamForm.invalid" type="submit"
                [ngClass]="teamForm.invalid ? 'bg-light' : 'text-white bg-success'">
          <span>{{data.openAs}}</span>
        </button>

        <button class="ml-3" (click)="createForm()" mat-raised-button type="button">
          <span>Clear</span>
        </button>
      </div>

    </mat-card>
  </form>
</div>
